<div class="jumbotron">
  <h2><%= gettext "%{name}", name: "Note It!" %></h2>
  <p class="lead">Your personal online notebook.</p>
  <!-- <p class="lead">Work on a note simultaneously !</p> -->
</div>
