<h1>Your Groups
  <a href="#" class="btn btn-primary pull-right">New</a>
</h1>
<%= for g <- @groups do %>
<div class="list-group">
  <div class="list-group-item">
    <div class="list-group-item-heading"><%= g.name %></div>
  </div>
</div>
<% end %>
